In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Storing Names of Sin and Non-Sin Stocks in Variables

In [87]:
non_sin_df = pd.read_excel("Monthly Return_Coffee Products.xlsx", parse_dates = True)
sin_df = pd.read_excel("Monthly Return_Alcoholic Products.xlsx", parse_dates = True)

In [88]:
sin_df.head()

,PERMNO,Names Date,Standard Industrial Classification Code,Ticker Symbol,Company Name,Price or Bid/Ask Average
0,10225,2011-10-31,2082,BEAM,BEAM INC,49.430000
1,10225,2011-11-30,2082,BEAM,BEAM INC,52.520000
2,10225,2011-12-30,2082,BEAM,BEAM INC,51.230000
3,10225,2012-01-31,2082,BEAM,BEAM INC,52.310001
4,10225,2012-02-29,2082,BEAM,BEAM INC,55.080002

In [89]:
sin_list = sin_df["Ticker Symbol"].unique()
sin_list

array(['BEAM', 'BEER', 'PFB', 'ABW', 'GBL', 'RUP', 'CNB', 'CKB', 'FAL',
       'FALB', 'DRE', 'NBW', 'GENBB', 'RG', 'RGLD', 'SLZ', 'SFR', 'KNBWY',
       'GRRR', nan, 'LONE', 'GHB', 'ABUD', 'BUD', 'ACCOB', 'RKY', 'TAP',
       'PABT', 'OLYB', 'PTBC', 'HAN', 'BAS', 'SXC', 'CU', 'CCU', 'THT',
       'HOOK', 'BREW', 'SAM', 'CFN', 'IBCO', 'BRH', 'ABV', 'ABEV', 'AED',
       'MLB', 'LQU', 'ROX', 'CREG', 'BORN', 'FO', 'MWGP', 'MGPI', 'AFTI',
       'DR', 'CUE', 'BACA', 'BBRL', 'ADC', 'SH', 'DCS', 'VO', 'HIR',
       'CHLN', 'CGAS', 'BJD', 'BFD', 'BF', 'CDL', 'DIL', 'GDS', 'SBR',
       'HBL', 'TFZ', 'TFI', 'HTC', 'JACQ', 'BBR', 'CNWN', 'CDG', 'CDB',
       'STZ', 'RAIN', 'TBVT', 'TYLR', 'THTR', 'DEO', 'RUM', 'VCO', 'ADSO',
       'NDC', 'GWT', 'CEDC', 'PTT'], dtype=object)

In [90]:
non_sin_list = non_sin_df["Ticker Symbol"].unique()
non_sin_list

array(['FARM', 'GMCR', 'PEET', 'JVA'], dtype=object)

# Reading in Files

In [91]:
stocks_df = pd.read_csv("stocks_fama_recession.csv", parse_dates = ["Unnamed: 0"])
stocks_df.set_index("Unnamed: 0", inplace=True)
stocks_df.index.name = "Date"
stocks_df.head()

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,SMB,HML,MOM,USREC
Date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055,0
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058,0
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075,0
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717,0
1962-12-31,NaN,NaN,NaN,2.5,NaN,38.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0101,-0.0380,0.0035,0.0588,0

# Further Data Cleaning

## Converting Prices of stocks to absolute values

In [92]:
# Using column indexing to exclude last 5 columns
stocks_df.iloc[:, :-5] = stocks_df.iloc[:, :-5].abs()

## Isolating Sin Stocks Only

In [93]:
# Removing the NaN value in sin_list
sin_list = sin_list[~pd.isnull(sin_list)]
sin_list

array(['BEAM', 'BEER', 'PFB', 'ABW', 'GBL', 'RUP', 'CNB', 'CKB', 'FAL',
       'FALB', 'DRE', 'NBW', 'GENBB', 'RG', 'RGLD', 'SLZ', 'SFR', 'KNBWY',
       'GRRR', 'LONE', 'GHB', 'ABUD', 'BUD', 'ACCOB', 'RKY', 'TAP',
       'PABT', 'OLYB', 'PTBC', 'HAN', 'BAS', 'SXC', 'CU', 'CCU', 'THT',
       'HOOK', 'BREW', 'SAM', 'CFN', 'IBCO', 'BRH', 'ABV', 'ABEV', 'AED',
       'MLB', 'LQU', 'ROX', 'CREG', 'BORN', 'FO', 'MWGP', 'MGPI', 'AFTI',
       'DR', 'CUE', 'BACA', 'BBRL', 'ADC', 'SH', 'DCS', 'VO', 'HIR',
       'CHLN', 'CGAS', 'BJD', 'BFD', 'BF', 'CDL', 'DIL', 'GDS', 'SBR',
       'HBL', 'TFZ', 'TFI', 'HTC', 'JACQ', 'BBR', 'CNWN', 'CDG', 'CDB',
       'STZ', 'RAIN', 'TBVT', 'TYLR', 'THTR', 'DEO', 'RUM', 'VCO', 'ADSO',
       'NDC', 'GWT', 'CEDC', 'PTT'], dtype=object)

In [94]:
sin_stocks = stocks_df[sin_list]
sin_stocks.head()

,BEAM,BEER,PFB,ABW,GBL,RUP,CNB,CKB,FAL,FALB,...,TYLR,THTR,DEO,RUM,VCO,ADSO,NDC,GWT,CEDC,PTT
Date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,2.625,NaN,1.250,13.2500,8.500,NaN,32.500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-08-31,NaN,NaN,2.875,NaN,1.375,13.3125,9.000,NaN,32.250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-10-31,NaN,NaN,2.375,NaN,0.625,11.6875,9.000,NaN,28.750,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-11-30,NaN,NaN,NaN,2.5,NaN,11.9375,9.625,NaN,31.125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-12-31,NaN,NaN,NaN,2.5,NaN,12.1250,10.000,NaN,30.250,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Finding Percentage Change in Stocks

In [95]:
returns_df = sin_stocks.pct_change()
returns_df

,BEAM,BEER,PFB,ABW,GBL,RUP,CNB,CKB,FAL,FALB,...,TYLR,THTR,DEO,RUM,VCO,ADSO,NDC,GWT,CEDC,PTT
Date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-08-31,NaN,NaN,0.095238,NaN,0.100000,0.004717,0.058824,NaN,-0.007692,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-10-31,NaN,NaN,-0.173913,NaN,-0.545455,-0.122066,0.000000,NaN,-0.108527,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-11-30,NaN,NaN,0.000000,NaN,0.000000,0.021390,0.069444,NaN,0.082609,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-12-31,NaN,NaN,0.000000,0.0,0.000000,0.015707,0.038961,NaN,-0.028112,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-31,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.095617,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-31,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,-0.087205,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-09-30,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.024256,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-30,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.125599,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-31,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.024911,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Removing null values

In [102]:
returns_df.dropna(how = "all", inplace=True)
returns_df

,BEAM,BEER,PFB,ABW,GBL,RUP,CNB,CKB,FAL,FALB,...,TYLR,THTR,DEO,RUM,VCO,ADSO,NDC,GWT,CEDC,PTT
Date,,,,,,,,,,,,,,,,,,,,,
1962-08-31,NaN,NaN,0.095238,NaN,0.100000,0.004717,0.058824,NaN,-0.007692,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-10-31,NaN,NaN,-0.173913,NaN,-0.545455,-0.122066,0.000000,NaN,-0.108527,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-11-30,NaN,NaN,0.000000,NaN,0.000000,0.021390,0.069444,NaN,0.082609,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-12-31,NaN,NaN,0.000000,0.0,0.000000,0.015707,0.038961,NaN,-0.028112,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-01-31,NaN,NaN,0.000000,0.2,0.000000,0.041237,-0.012500,NaN,0.107438,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-31,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.095617,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-31,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,-0.087205,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-09-30,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.024256,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-11-30,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.125599,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-12-31,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.024911,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Replacing Null values with 0

In [38]:
stocks_df.fillna(0, inplace=True)

## Checking if any values are negative after taking absolute values

In [39]:
(stocks_df.iloc[:, :-5] < 0).any()

ABEV     False
ABUD     False
ABV      False
ABW      False
ACCOB    False
         ...
VO       False
FARM     False
GMCR     False
JVA      False
PEET     False
Length: 97, dtype: bool

# Constructing Basic Portfolio